In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# optional for warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Load your CSV file
file_path = "C:\\Users\\Laptop\\Desktop\\traffic-pulse-prediction\\data\\pems-8w.csv"  # update with actual file name
df = pd.read_csv(file_path, header=None)

# Quick look at the data
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11160 entries, 0 to 11159
Columns: 16128 entries, 0 to 16127
dtypes: float64(16127), object(1)
memory usage: 1.3+ GB

,0,1,2,3,4,5,6,7,8,9,...,16118,16119,16120,16121,16122,16123,16124,16125,16126,16127
count,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,...,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000,11160.000000
mean,67.509310,67.311111,67.147258,67.080394,67.011801,66.939686,66.835538,66.708082,66.577124,66.468871,...,67.052392,67.055887,67.025824,67.058011,67.072357,67.051667,67.023118,67.009498,66.953728,66.970099
std,2.934717,3.066075,3.138204,3.205283,3.225543,3.111040,3.137005,3.239314,3.367306,3.434996,...,3.213527,3.141771,3.219650,3.219710,3.195027,3.156627,3.145356,3.154217,3.148124,3.218144
min,2.400000,16.700000,11.700000,7.700000,6.300000,15.000000,13.200000,11.000000,9.800000,8.800000,...,10.600000,10.600000,10.800000,10.400000,8.500000,9.100000,10.600000,6.700000,5.300000,11.800000
25%,65.000000,65.100000,65.100000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,64.900000,...,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.100000,65.000000,65.000000,65.000000
50%,68.100000,67.900000,67.700000,67.600000,67.500000,67.500000,67.300000,67.200000,67.100000,67.000000,...,67.600000,67.600000,67.500000,67.500000,67.550000,67.500000,67.500000,67.500000,67.500000,67.500000
75%,69.500000,69.000000,68.900000,68.900000,68.700000,68.600000,68.700000,68.700000,68.400000,68.300000,...,68.900000,68.800000,68.800000,68.800000,68.800000,68.800000,68.900000,68.700000,68.700000,68.800000
max,80.700000,81.200000,79.900000,82.800000,83.800000,76.700000,77.600000,76.800000,78.800000,80.300000,...,81.000000,83.700000,80.000000,82.000000,79.800000,80.200000,82.300000,83.100000,80.600000,81.700000

In [6]:
# converting everything to numeric
df = df.apply(pd.to_numeric, errors='coerce')

In [7]:
# handling missing values
df = df.fillna(method="ffill").fillna(method="bfill")
# or df = df.dropna()

In [8]:
# adding sensor names
df.columns = [f"sensor_{i}" for i in range(df.shape[1])]

# adding time index
df.index = pd.date_range(
    start="2017-01-01",
    periods=len(df),
    freq="5min"
)
df.index.name = "timestamp"

In [9]:
# Create your modeling signal
traffic = df.mean(axis=1).to_frame(name="traffic_flow")
traffic.head()

                     traffic_flow
timestamp
2017-01-01 00:00:00     65.831430
2017-01-01 00:05:00     65.468198
2017-01-01 00:10:00     65.468198
2017-01-01 00:15:00     65.468198
2017-01-01 00:20:00     65.468198

In [13]:
import os

os.makedirs("../data/processed", exist_ok=True)
traffic.to_csv("../data/processed/traffic_aggregated.csv")